<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.indasil.rentacab.mapper.UserMapper">

    <resultMap id="loadUserMap" type="com.indasil.rentacab.security.RentCabUser">

        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>


        <collection property="userAuthorities"
                    ofType="com.indasil.rentacab.security.Authority">

            <result property="name" column="value"/>

        </collection>

    </resultMap>


    <select id="loadUserByUsername" resultMap="loadUserMap" parameterType="map">

            select
            s.username ,
            s.password,
            s.id,
            r.value
           from users s
           left outer join user_authorities u on u.user_id = s.id
           inner join authority r on u.authority_id =r.authority_id
           where
           s.username = #{username}

    </select>


    <select id="getAll" resultType="com.indasil.rentacab.security.RentCabUser" parameterType="map">

        WITH AllGridItems AS  (

        -- Business logic goes here

        select id,
               username,
        first_name as firstName
        from users
        where 1 = 1

        <if test="searchFilter !=null">
            AND
            (lower(first_name) LIKE #{searchFilter})
        </if>




        ) ,




        ItemCount AS (SELECT *, ROW_NUMBER() OVER (

        -- Ordering direction and column go here

        <choose>
            <when test="pageCriteria.getSortOnColumn() == 0"> order by id</when>
            <when test="pageCriteria.getSortOnColumn() == 1"> order by username</when>
            <when test="pageCriteria.getSortOnColumn() == 2"> order by firstName</when>
            <otherwise>
                order by id
            </otherwise>
        </choose>

        <choose>
            <when test="pageCriteria.ascending">ASC</when>
            <otherwise>DESC</otherwise>
        </choose>




        ) AS RowNumber FROM AllGridItems )

        SELECT *, (SELECT COUNT(*) FROM AllGridItems) AS total
        FROM ItemCount

        WHERE RowNumber &gt; #{pageCriteria.offset}
        AND RowNumber &lt;= #{pageCriteria.upperRowBound}

        ORDER BY RowNumber




    </select>


</mapper>